# vscode related
.vscode/

# python related
*.egg-info/
__pycache__/
*.pytest_cache
*.pyc

# latex related
docs/math/*
!docs/math/*.tex
!docs/math/*.pdf
# helper folders
!docs/math/images/
!docs/math/core/

# notebook related
.ipynb_checkpoints

# C++ related
build